# Server
PORT=8080
NODE_ENV=development

# Database
POSTGRES_USER=dev
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=rythmify_dev
DATABASE_URL=postgresql://dev:devpassword@localhost:5433/rythmify_dev
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

DB_HOST=localhost
DB_PORT=5433


# JWT
JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/auth/google/callback

# SoundCloud OAuth
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id
SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_client_secret

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_BUCKET_NAME=rythmify-media
AWS_REGION=us-east-1

# Cloudinary (alternative to S3)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Stripe (mocked)
STRIPE_SECRET_KEY=sk_test_your_stripe_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Email (Nodemailer / SendGrid)
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=your_sendgrid_api_key
EMAIL_FROM=noreply@rythmify.com

# App
BASE_URL=http://localhost:8080
CLIENT_URL=http://localhost:3000
